---

---

<ul
  class="text-left inline-flex flex-col 2xl:gap-8xl 2xl:flex-row 2xl:items-center"
>
  <li class="relative w-fit">
    <a href="/" class="hover:text-quaternary group">
      <!-- ハンバーガメニューで表示 -->
      <span
        class="absolute top-[50%] left-xs translate-y-[-50%] bg-[url(../assets/leaf-1.png)] bg-no-repeat bg-contain bg-center inline-block w-[22px] h-[22.5px] group-hover:bg-[url(../assets/leaf-2.png)] 2xl:hidden transition-all duration-[0.2s] ease-out"
      ></span>
      ミライニ薬局について
      <!-- グローバルナビゲーション -->
      <span
        class="hidden 2xl:absolute 2xl:top-[50%] 2xl:translate-y-[-50%] 2xl:bg-[url(../assets/leaf-1.png)] 2xl:bg-no-repeat 2xl:bg-contain 2xl:bg-center 2xl:inline-block 2xl:w-[22px] 2xl:h-[22.5px] 2xl:group-hover:bg-[url(../assets/leaf-2.png)] transition-all duration-[0.2s] ease-out 2xl:ml-2xl"
      ></span></a
    >
  </li>
  <li class="relative w-fit mt-4xl 2xl:mt-0">
    <a href="/" class="hover:text-quaternary group">
      <!-- ハンバーガメニューで表示 -->
      <span
        class="absolute top-[50%] left-xs translate-y-[-50%] bg-[url(../assets/leaf-1.png)] bg-no-repeat bg-contain bg-center inline-block w-[22px] h-[22.5px] group-hover:bg-[url(../assets/leaf-2.png)] 2xl:hidden transition-all duration-[0.2s] ease-out"
      ></span>
      サービス紹介
      <!-- グローバルナビゲーション -->
      <span
        class="hidden 2xl:absolute 2xl:top-[50%] 2xl:translate-y-[-50%] 2xl:bg-[url(../assets/leaf-1.png)] 2xl:bg-no-repeat 2xl:bg-contain 2xl:bg-center 2xl:inline-block 2xl:w-[22px] 2xl:h-[22.5px] 2xl:group-hover:bg-[url(../assets/leaf-2.png)] transition-all duration-[0.2s] ease-out 2xl:ml-2xl"
      ></span></a
    >
  </li>

  <li class="relative w-fit mt-4xl 2xl:mt-0">
    <a href="/" class="hover:text-quaternary group">
      <!-- ハンバーガメニューで表示 -->
      <span
        class="absolute top-[50%] left-xs translate-y-[-50%] bg-[url(../assets/leaf-1.png)] bg-no-repeat bg-contain bg-center inline-block w-[22px] h-[22.5px] group-hover:bg-[url(../assets/leaf-2.png)] 2xl:hidden transition-all duration-[0.2s] ease-out"
      ></span>店舗を探す
      <!-- グローバルナビゲーション -->
      <span
        class="hidden 2xl:absolute 2xl:top-[50%] 2xl:translate-y-[-50%] 2xl:bg-[url(../assets/leaf-1.png)] 2xl:bg-no-repeat 2xl:bg-contain 2xl:bg-center 2xl:inline-block 2xl:w-[22px] 2xl:h-[22.5px] 2xl:group-hover:bg-[url(../assets/leaf-2.png)] transition-all duration-[0.2s] ease-out 2xl:ml-2xl"
      ></span></a
    >
  </li>
  <li class="relative w-fit mt-4xl 2xl:mt-0">
    <a href="/" class="hover:text-quaternary group">
      <!-- ハンバーガメニューで表示 -->
      <span
        class="absolute top-[50%] left-xs translate-y-[-50%] bg-[url(../assets/leaf-1.png)] bg-no-repeat bg-contain bg-center inline-block w-[22px] h-[22.5px] group-hover:bg-[url(../assets/leaf-2.png)] 2xl:hidden transition-all duration-[0.2s] ease-out"
      ></span>ブログ
      <!-- グローバルナビゲーション -->
      <span
        class="hidden 2xl:absolute 2xl:top-[50%] 2xl:translate-y-[-50%] 2xl:bg-[url(../assets/leaf-1.png)] 2xl:bg-no-repeat 2xl:bg-contain 2xl:bg-center 2xl:inline-block 2xl:w-[22px] 2xl:h-[22.5px] 2xl:group-hover:bg-[url(../assets/leaf-2.png)] transition-all duration-[0.2s] ease-out 2xl:ml-2xl"
      ></span></a
    >
  </li>
  <li class="relative w-fit mt-4xl 2xl:mt-0">
    <a href="/" class="hover:text-quaternary group">
      <!-- ハンバーガメニューで表示 -->
      <span
        class="absolute top-[50%] left-xs translate-y-[-50%] bg-[url(../assets/leaf-1.png)] bg-no-repeat bg-contain bg-center inline-block w-[22px] h-[22.5px] group-hover:bg-[url(../assets/leaf-2.png)] 2xl:hidden transition-all duration-[0.2s] ease-out"
      ></span>採用情報
      <!-- グローバルナビゲーション -->
      <span
        class="hidden 2xl:absolute 2xl:top-[50%] 2xl:translate-y-[-50%] 2xl:bg-[url(../assets/leaf-1.png)] 2xl:bg-no-repeat 2xl:bg-contain 2xl:bg-center 2xl:inline-block 2xl:w-[22px] 2xl:h-[22.5px] 2xl:group-hover:bg-[url(../assets/leaf-2.png)] transition-all duration-[0.2s] ease-out 2xl:ml-2xl"
      ></span>
    </a>
  </li>
  <li class="relative w-fit mt-4xl 2xl:mt-0 2xl:mr-7xl">
    <a href="/" class="hover:text-quaternary group">
      <!-- ハンバーガメニューで表示 -->
      <span
        class="absolute top-[50%] left-xs translate-y-[-50%] bg-[url(../assets/leaf-1.png)] bg-no-repeat bg-contain bg-center inline-block w-[22px] h-[22.5px] group-hover:bg-[url(../assets/leaf-2.png)] 2xl:hidden transition-all duration-[0.2s] ease-out"
      ></span>お問い合わせ
      <!-- グローバルナビゲーション -->
      <span
        class="hidden 2xl:absolute 2xl:top-[50%] 2xl:translate-y-[-50%] 2xl:bg-[url(../assets/leaf-1.png)] 2xl:bg-no-repeat 2xl:bg-contain 2xl:bg-center 2xl:inline-block 2xl:w-[22px] 2xl:h-[22.5px] 2xl:group-hover:bg-[url(../assets/leaf-2.png)] transition-all duration-[0.2s] ease-out 2xl:ml-2xl"
      ></span></a
    >
  </li>
</ul>
